header {
  background-color: #4c8bf5;
  padding: 1rem;
}
#mobile--menu {
  display: flex;
  justify-content: space-between;
}
.header-menu--button {
  align-self: center;
  background-color: white;
  border: none;
  padding: 0.5rem;
  height: 5%;
  width: 15%;
}
#header--logo {
  height: 4rem;
}
