header {
  background-color: #4c8bf5;
  padding: 1rem;
}
#mobile--menu {
  display: flex;
  justify-content: space-between;
}
.header-menu--button {
  align-self: center;
  background-color: white;
  border: none;
  padding: 0.5rem;
  height: 5%;
  width: 15%;
}
#header--logo {
  height: 4rem;
}
#container {
  margin: 0 1rem;
}
.movie-section h1 {
  text-align: center;
}
.movie {
  display: flex;
  border: 5px solid black;
  border-radius: 10px;
  flex-direction: column;
  text-align: center;
  margin-bottom: 1rem;
  padding-top: 1rem;
}
.movie--poster {
  align-self: center;
  width: 50%;
}
.movie--vote-average {
  display: flex;
  justify-content: center;
}
.movie--vote-average-div {
  align-self: center;
}
.movie--button {
  align-self: center;
  border: 1px solid black;
  border-radius: 10px;
  background: white;
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: 7rem;
}

/* Movie Info */
#movie-name {
  text-align: center;
}
