header {
  background-color: #4c8bf5;
  padding: 1rem;
}
#hamburger-menu {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  background-color: white;
  gap: 1rem;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  padding: 1rem;
  width: 60%;
  z-index: 100;
}
#close-crosshair {
  align-self: flex-end;
  cursor: pointer;
}
.hidden {
  display: none !important;
}
#mobile--menu {
  display: flex;
  justify-content: space-between;
}
#hamburger-menu--input {
  padding: 6px;
}
#hamburger-menu--input-desktop {
  padding: 6px;
}
#search-movie-form {
  display: flex;
  flex-direction: row;
}
#watch-later-container {
  display: flex;
  gap: 0.3rem;
}
#auth-links {
  display: flex;
  gap: 0.3rem;
}
#watch-later-container a {
  align-self: center;
  color: black;
  text-decoration: none;
}
.header-menu--button {
  align-self: center;
  background-color: white;
  border: none;
  padding: 0.5rem;
  height: 5%;
  width: 15%;
}
#header--logo {
  height: 4rem;
}
#container {
  margin: 0 1rem;
}
.movie-section h1 {
  text-align: center;
}
.movie {
  display: flex;
  border: 5px solid black;
  border-radius: 10px;
  flex-direction: column;
  text-align: center;
  margin-bottom: 1rem;
  padding-top: 1rem;
}
.movie--poster {
  align-self: center;
  width: 50%;
}
.movie--vote-average {
  display: flex;
  justify-content: center;
}
.movie--vote-average-div {
  align-self: center;
}
.movie--button {
  align-self: center;
  border: 1px solid black;
  border-radius: 10px;
  background: white;
  cursor: pointer;
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: 7rem;
}

/* Movie Info */
#movie-name {
  text-align: center;
}

#watch-later-movies {
  border-collapse: collapse;
  margin-top: 1rem;
  width: 100%;
}
#user-info-table {
  height: 80vh;
}
#watch-later-movies td,
#watch-later-movies th {
  border: 1px solid #ddd;
  padding: 8px;
}

#watch-later-movies tr:nth-child(even) {
  background-color: #f2f2f2;
}

#watch-later-movies tr:hover {
  background-color: #ddd;
}

#watch-later-movies th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4c8bf5;
  color: white;
}
.auth-form--h1 {
  text-align: center;
}
.auth-form--from-group input {
  font-size: 25px;
}
.auth-form--from-group {
  display: flex;
  margin-bottom: 1rem;
  flex-direction: column;
}
#auth-form--button {
  border: 1px solid white;
  border-radius: 10px;
  background: #4c8bf5;
  color: white;
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: 7rem;
}
footer {
  background-color: #4c8bf5;
  color: black;
  text-align: center;
  padding: 1rem 0;
}
#desktop-menu {
  display: none;
}
.menu-desktop-item {
  align-self: center;
}
.menu-desktop-item a {
  color: black;
  text-decoration: none;
}
.auth-form {
  height: 80vh;
  max-width: 50%;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  #movies-container,
  #top-rated-movies-container,
  #upcoming-movies-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  #hamburgerButton {
    display: none;
  }
  #desktop-menu {
    display: flex;
    gap: 3rem;
  }
  #search-movie-form-desktop {
    display: flex;
    align-items: center;
  }
  #movie-info-container {
    max-width: 50%;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1024px) {
  /* For desktop: */
  #movies-container,
  #top-rated-movies-container,
  #upcoming-movies-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 1rem;
  }
  footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  footer div,
  h2,
  small {
    align-self: center;
  }
}
